.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .blink{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
  }